<div class="container spacer">
  <div class="panel panel-default">
    <div class="panel-heading">Saisie d'un Contact</div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onSaveContact(f.value)">
        <div class="form-group">
          <label class="control-label">Nom:</label>
          <input #nom="ngModel" type="text" class="form-control" ngModel name="nom" required>
        </div>
        <div class="form-group">
          <label class="control-label">Prenom:</label>
          <input #prenom="ngModel" type="text" class="form-control" ngModel name="prenom" required>
        </div>
        <div class="form-group">
          <label class="control-label">Email:</label>
          <input #email="ngModel" type="email" class="form-control" ngModel name="email" required email>
        </div>
        <div class="form-group">
          <label class="control-label">Date de Naissance:</label>
          <input #dateNaissance="ngModel" type="date" class="form-control" ngModel name="dateNaissance" required>
        </div>
        <div class="form-group">
          <label class="control-label">Téléphone:</label>
          <input #tel="ngModel" type="text" class="form-control" ngModel name="tel" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Enregistrer</button>
      </form>
    </div>
  </div>
</div>
